body{
  background-color: 
  #ffffff;
  margin: 0;
  padding:0;
  margin-bottom: 0%;
  margin-top: 4%;
}

h2{
  text-align: center;
  font-size: 40px;
}
  
h3{
  color:#7f7f7f;
  text-align: center;
  font-size: 40px;
}
  

main h1{
  margin-top: 10%;
  text-align: center;
  font-size: 70px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

button{
  background-color:#e8e5e480;
  font-weight: 400;
   border-radius: 20px;
  border-color:#e8e5e480; 
  height: 40px;
  border: 0px;
  
}

 .word-spacing{
  margin-left: 70px;
  margin-bottom: -20px;
 }


#unique-button {
  border: none;
  background-color:#ffffff;
  
}




#scrollButton{
  position:fixed;
  border:none;
  margin-top: -10px;
  height: 40px;
  width: 200px;
  cursor:pointer;
  transition:background-color 0.3, opacity 0.3;
  z-index: 1;
  
}

.separate-button{
  position:fixed;
  padding-left: 7px;
  padding-right:7px ;
  padding-top: 1px;
  padding-bottom: 0px;
  border-radius: 20px;
  cursor:pointer;
  margin-right: 20px;
  background-color: #ffffff;
  z-index: 1;
}

#container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  
}
  
#scrollButton2{

background-color:
#000000;
color: #ffffff;
position: fixed;
cursor:pointer;
border: none;
width: 70px;

margin-bottom: 9%;
z-index: 1;

}

#container2{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;

}


.grid-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-direction: column;
 justify-content: space-around;
 align-items: center;
 padding:20px;
 margin: 5%;
 margin-left: 7%;
 gap: 3px;
}


.grid-box{
  width: 95%;
  height: 50%px;
  color: #fff;
  text-align: center;
  line-height: 100px;
  margin: 10px
  
}


img{
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

 .fadeup {
  transform: translateY(50px);
   opacity: 4;
   transition-property: transform, opacity;
   transition-duration: 5s;
   transition-timing-function: linear;
 }
 
 section .in-view {
  transform: none;
  opacity: 1;
}

.image-container:hover {
  filter: blur(5px);
}

.image-container {
  position: relative;
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
  transition: filter 0.7s ease;
}

footer, p, ul{
  list-style: none;
  margin-top: 10%;
}

footer p{
  margin-right: 70%;
}

a{
  color:#000000;
}

.no-underline{
  text-decoration: none;
}

footer.container{
  margin-bottom: 5%;
  
}


.my-element {
  display: inline-block;
  margin: 0 0.5rem;

  animation: bounce;
  animation-duration: 2s;
}

h6{
  font-size: 40px;
  text-align: center;
  margin-top: 10%;
}


