a{
  color:#000000;
}


body{
  background-color: 
  #ffffff;
  margin: 0;
  padding:0;
  margin-bottom: 0;
  margin-top: 4%;
  
}

button{
  background-color:#e8e5e480;
  font-weight: 400;
   border-radius: 20px;
  border-color:#e8e5e480; 
  height: 40px;
  border: 0;
  
}

footer.container{
  margin-bottom: 5%;
  
}

footer, p, ul{
  list-style: none;
  margin-top: 10%;
}

footer p{
  margin-right: 70%;
}


h2{
  text-align: center;
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
}
  
h3{
  color:#7f7f7f;
  text-align: center;
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
}
  
h6{
  font-size: 40px;
  text-align: center;
  margin-top: 10%;
  font-family: 'Roboto', sans-serif;
}

img{
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  
}

.grid-box:hover img{
  filter: blur(9px);
}


main, h1{
  margin-top: 10%;
  text-align: center;
  font-size: 70px;
  font-family: 'Roboto', sans-serif;
}


.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0
}


.container{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-direction: column;
 justify-content: space-around;
 align-items: center;
 padding:20px;
 margin: 5%;
 margin-left: 7%;
 }

 .grid-box img {
  width: 100%;
  height: auto;
  display: block;
  transition: filter 0.7s ease;
}


.grid-box{
  position: relative;
  overflow: hidden;
  width: 95%;
  height: 100%;
  color:#7f7f7f ;
  text-align: center;
  line-height: 100px;
  margin: 10px;
  
}

.grid-box:hover  {
  opacity: 1;
}
/*experimental*/
.icon {
  background:none;
  color: #fff;
  font-size: 50px;
  padding: 10px;
  margin: 20px;
  filter: none;
}


.img:hover {
  filter: blur(10px);
  
}

.my-element {
  display: inline-block;
  margin: 0 0.5rem;

  animation: bounce;
  animation-duration: 2s;
}

.no-underline{
  text-decoration: none;
}

.overlay {
  position: absolute;
  filter: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay:hover {
  opacity: 1;
  filter: none;
}


#scrollButton{
  position:fixed;
  border:none;
  margin-top: -10px;
  height: 40px;
  width: 200px;
  cursor:pointer;
  transition:background-color 0.3, opacity 0.3;
  z-index: 1;
  
}

.separate-button{
  position:fixed;
  padding: 1px 7px 0 7px;
  border-radius: 20px;
  cursor:pointer;
  margin-right: 20px;
  background-color: #ffffff;
  z-index: 1;
}


#scrollButton2{

background-color:
#000000;
color: #ffffff;
position: fixed;
bottom:30% ;
cursor:pointer;
border: none;
width: 70px;
margin-left: 48%;
z-index: 1;
}


.text {
  filter:none;
  
  color:  gray;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  margin: 20px;
  font-size: 24px;
  font-weight: 900;
  
}

#unique-button {
  border: none;
  background-color:#ffffff;
  font-size: 10px;
  
}

 .word-spacing{
  margin-left: 70px;
  margin-bottom: -20px;
 }



@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}
